<div class="container">

<h1>Draw the Fucking Owl</h1>
<h2>Startup advice for people who need it</h2>

	<div class="well">
		<h3><%= @sentence.advice %></h3>
		<p><%= @sentence.twitterhandle %></p>

	<div class="pull-right">
		<%= link_to("Not Enough? I need more advice!", {:action => 'next'}, :class => 'next-link') %>
	</div>

	</div>
</div>

