<div class="container">

<h1>Draw the Fucking Owl</h1>
<h3>Quick Startup advice for people who want to work for a startup</h3>

	<div class="well">
		<h1><%= @sentence.advice %></h1>
		<p><%= @sentence.twitterhandle %></p>

	</div>

	<div class="pull-right">
		<%= link_to("Not Enough? I need more advice!", {:action => 'next'}, :class => 'next-link') %>
	</div>
</div>

