<div class="container">
<div class="down">
	<button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#advice">
    	<i class="icon-chevron-down"></i>
    </button>
</div>
</div>
<script>
	var sentences =  <%= raw @sentence.to_json.gsub("</", "<\\/") %>;
</script>
<script id="adviceTemplate" type="text/html">
	<h1 class="custom-h1">{{advice}}</h1>
	<p class="pull-right">By <a class="twitter-link" href="http://www.twitter.com/{{twitterhandle}}">{{twitterhandle}}</a>
	</p>
</script>
<script id="noadviceTemplate" type="text/html">
	<h1 class="custom-h1">We are out of fucking advice! You should add your own now</h1>
	</p>
</script>


<%=render 'new123' %>


<div class="container">
<!-- flash message goes here -->
<% if !flash[:notice].blank? %>
	<div class="alert">
		<%= flash[:notice] %>
	</div>
<% end %>
<!-- end of flash message goes here -->
<div class="row">
	<div class="span2">
		<%= image_tag('o.png') %>
	</div>
	<div class="span8 headline-box">
		<h1>Draw the Fucking Owl</h1>
		<h3>Good fucking Startup advice for people who love Startups</h3>
	</div>

</div>
<p class="hr">


	<div id="adviceBox" class="box">

	</div>

	<div class="pull-right link-box">
		<a id="next_advice" class="next-link" href="#">Not enough, I need more advice!</a>
	</div>



</div>

