/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap.css
 *= require bootstrap-responsive.css
 *= require_tree .
 */

/*Customized Syles*/

body {
  background: url('bg.png') repeat scroll 0 0 transparent; 
  background-color: #ffffff;
  padding-top: 50px;
}

.box {
	padding: 5%;
	margin-bottom: 10%;
}
.headline-box {
	margin-top: 10px;
}
.link-box {
	margin-bottom: 30px;
}

.down {
    left: 50%;
    position: fixed;
    top: 6px;
    width: 19px;
  }

 .hr {
 	background-color: transparent;
    border: 1px dashed #333333;
    height: 0;
    margin: 25px 0;
    width: 100%;
 }

 .twitter-link {
 	font-size: 18px;
 	font-weight: 500;
 }
 .twitter-link:hover {
	text-decoration: none;
 }

 .next-link {
 	font-size: 22px;
 	font-weight: 500;
 	color: #DA4E49;
 }
 .next-link:hover {
	text-decoration: none;
	color: #BD362F;
 }
 .footer-link {
	text-decoration: none;
	color: gray;
}
.no-link {
	color: gray;
}
.no-link:hover {
	color: gray;
	text-decoration: none;
}

 /*FONTS*/

 .custom-h1 {
 	font-family: Helvetica Neue, sans-serif;
 	font-size: 84px;
 	font-weight: 300;
 	color: #333333;
    font-size: 80px;
    font-weight: bold;
    letter-spacing: -4px;
    line-height: 85px;
    margin-top: 25px;
    text-shadow: 1px 1px 1px #FFFFFF;
 }