body {
  background: url('bg.png') repeat scroll 0 0 transparent; 
  background-color: #ffffff;
  padding-top: 50px;
}

.box {
	padding: 15px;
	margin-bottom: 25px;
}
.headline-box {
	margin-top: 10px;
}

/* fixing the link position only on desktop */
@media only screen 
and (min-width : 1224px) {
.link-box {
	margin-top: 180px;
  margin-bottom: 30px;
  display: block;
  position: absolute;
  right: 0;
  top: 400px;
  width: 400px;
}
}

/* fixing the link position only on desktop */
@media only screen 
and (min-width: 1224px) {
.down {
    position: absolute;
    left: 42%;
    top: 6px;
 
  }
}

.down {
    position: absolute;
    left: 42%;    
    top: 6px;

  }

 .hr {
 	background-color: transparent;
    border: 1px dashed #333333;
    height: 0;
    margin: 25px 0;
    width: 100%;
 }

 .twitter-link {
 	font-size: 18px;
 	font-weight: 500;
 }
 .twitter-link:hover {
	text-decoration: none;
 }

 .next-link {
 	font-size: 22px;
 	font-weight: 500;
 	color: #DA4E49;
 }
 .next-link:hover {
	text-decoration: none;
	color: #BD362F;
 }
 .footer-link {
	text-decoration: none;
	color: gray;
  padding: 10px;
}
.no-link {
	color: gray;
}
.no-link:hover {
	color: gray;
	text-decoration: none;
}

 /*FONTS*/

 .custom-h1 {
 	font-family: Helvetica Neue, sans-serif;
 	font-size: 84px;
 	font-weight: 300;
 	color: #333333;
    font-size: 80px;
    font-weight: bold;
    letter-spacing: -4px;
    line-height: 85px;
    margin-top: 25px;
    text-shadow: 1px 1px 1px #FFFFFF;
    word-wrap: break-word;
 }
.social-box {
  margin-top: 30px;
}
