<div class="container">
	<div class="footer">
		<div class="navbar">
			<small>
				<div class="pull-right footer-link">
				Made with Owl-Power by 
				<%= link_to "Marco Morawec", "http://www.marcomorawec.com", :class => 'no-link' %>
				</div>
			</small>
		</div>
	</div>
</div>