<div class="container">
	<div class="footer">
		<div class="navbar navbar-fixed-bottom">
			<small>
				<div class="pull-right footer-link">
				Made with Owl-Power by 
				<%= link_to "Marco", "http://www.marcomorawec.com", :target => '_blank', :class => 'no-link' %> and
				<%= link_to "Chris", "http://www.github.com/chrisvans", :target => '_blank', :class => 'no-link' %>
				</div>
			</small>
		</div>
	</div>
</div>